<div class=loginTitle>
  <h1>Log In</h1>
</div>

<div class="login">
<div class="container">
  <div class="row">
    <form class="form-signin mg-btm">

    <div class="main">

        <div class="input-group">
             <%= label_tag :email %><br/>
            <%= text_field_tag :email, params[:email] %>
        </div>

        <div class="input-group">
               <%= label_tag :password %><br/>
              <%= password_field_tag :password %>
        </div>

      <div class="row">
        <div class="col-xs-6 col-md-6">
                 
            </div>
            <div class="col-xs-6 col-md-6 pull-center">
              <button type="button" class="btn btn-secondary"><%= submit_tag "Log in" %></button>
            </div>
        </div>
    </div>

    <span class="clearfix"></span>

    <div class="login-footer">
        <div class="row">
                <div class="col-xs-6 col-md-6">
                    <div class="left-section">Don't have an account?
                        <a href="../users/new">Create one</a>.
            </div>
                </div>
                <div class="col-xs-6 col-md-6 pull-right">
                </div>
            </div>
    </div>
      </form>
  </div>
</div>
</div>


