<!DOCTYPE html>
<html>
<head>
  <title>Refyoufree</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
   <link rel="icon" type="image/png" href="/icon.png" sizes="16x16">
  <%= csrf_meta_tags %>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,700,500,900' rel='stylesheet' type='text/css'>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <noscript>
      <link rel="stylesheet" href="css/skel-noscript.css" />
      <link rel="stylesheet" href="css/style.css" />
      <link rel="stylesheet" href="css/style-desktop.css" />
    </noscript>


    <p class="userinfo">
      <% if current_user %>
        Signed in as <%= current_user.first_name %> <%= current_user.last_name %>. <%= link_to "Log Out", session_path("current"), :method => :delete %>
      <% else %>
        <%= link_to "Log In", new_session_path %> or <%= link_to "Sign Up", new_user_path %>
      <% end %>
    </p>

  <% if flash[:notice] %>
    <p id="notice"><%= flash[:notice] %></p>
    <% flash .discard(:notice) %>
  <% end %>
  <% if flash[:alert] %>
    <p id="alert"><%= flash[:alert] %></p>
    <% flash.discard(:alert) %>
  <% end %>

  </head>

<body>

  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
 <div class="container">
  <center><img src="../refyoufree.png" width="300" height="130" align="middle"/></center>
    <div id="header">
      <div id="nav-wrapper">

        <nav id="nav">
          <ul>
            <li class="active"><a href="/sessions/new">Login</a></li>
            <li><a href="/documentations/new">Application</a></li>
            <li><a href="/status">Status</a></li>
            <li><a href="/faq">FAQ</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>


<!-- <div id="yieldbody">


</div>
 -->
<div id="featured">
<br></br>
<%= yield %>
<br></br>
</div>


<div id="footer">
      <div class="container">
        <section>
          <header>
          <br></br>
            <h2>Use our mobile app available on iOS.</h2>
            <span class="byline">Hack Western 2</span>
            <span class="byline">Refyoufree 2015</span>
          </div>
        </div>
          </header>
        </section>
      </div>
    </div>




</body>
</html>
